*.exe
*.lib
*.o
*.d
.DS_Store
bin/lae_test
obj/
external/lua-5.2.0/src/lua
external/lua-5.2.0/src/luac
*.xcbkptlist
*.xcuserstate
*.lik
*.pdb
*.app
*.app.dSYM
*.idb
*.log
*.xcuserdatad
*.user
*.suo
*.ilk
*.a
*.dSYM